.ds-field {
  display: flex;
  flex-direction: column;
  gap: var(--semantic-layout-gap-sm);
  margin-bottom: var(--semantic-layout-padding-lg);
}

.ds-label {
  padding-left: var(--semantic-layout-padding-sm);
  font-size: var(--semantic-typography-label-font-size-md);
  font-weight: var(--semantic-typography-label-font-weight);
  line-height: var(--semantic-typography-label-line-height-md);
  color: var(--component-input-label);
}

.ds-field-hint {
  font-size: var(--semantic-typography-caption-font-size-xs);
  color: var(--semantic-color-text-neutral-muted);
  line-height: var(--semantic-typography-caption-line-height-xs);
}

.ds-field-error {
  margin: 0;
  padding-left: var(--semantic-layout-padding-sm);
  font-size: var(--semantic-typography-caption-font-size-xs);
  line-height: var(--semantic-typography-caption-line-height-xs);
  color: var(--semantic-color-text-feedback-danger-base);
}

.ds-field[data-invalid="true"] .ds-label {
  color: var(--semantic-color-text-feedback-danger-base);
}
